/* .card-header{
  font-size: 40px;
}

.card-title{
  text-decoration: underline;
}

.card-text{
  font-size: 20px;
}

.card{
  padding: 50px;
} */

h1{
  padding: 30px;
  margin: 30px;
  text-decoration: underline;
}

h4{
  padding: 5px;
  margin: 5px;
  text-decoration: underline;
}

p{
  padding: 20px;
  margin: 20px;
  font-weight: 200;
}