.TheKiss{
  height: 400px;
  width: 300px;
  margin: 5px;
}

.TwilightBTS{
  height: 300px;
  width: 300px;
}

.Soldier{
  height: 300px;
  width: 300px;
  margin: 5px;
}

.Gypsy{
  height: 300px;
  width: 300px;
  margin: 5px;
}

.Dance{
  height: 300px;
  width: 400px;
  margin: 5px;
}

.Jail{
  height: 300px;
  width: 400px;
  margin: 5px;
}

.Burn{
  height: 400px;
  width: 300px;
  margin: 5px;
}

.Friends{
  height: 300px;
  width: 400px;
  margin: 5px;
}

.Edit{
  height: 300px;
  width: 300px;
  margin: 5px;
}

.cBall{
  height: 300px;
  width: 400px;
  margin: 5px;
}

.Bridge{
  height: 400px;
  width: 300px;
  margin: 5px;
}

.Shocked{
  height: 300px;
  width: 400px;
  margin: 5px;
}

.Gold{
  height: 300px;
  width: 400px;
  margin: 5px;
}

.Guns{
  height: 300px;
  width: 400px;
  margin: 5px;
}

.Howl{
  height: 400px;
  width: 300px;
  margin: 5px;
}